@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,700italic,600italic,400italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
* {
  padding: 0;
  margin: 0;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
.skrollr-desktop body {
  height: 100% !important;
}
body {
  font-family: sans-serif;
}
red {
  color: #fb6e52;
}
p {
  margin: 1em 0;
}
.parallax-image-wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.parallax-image-wrapper-50 {
  height: 50%;
  top: -50%;
}
.parallax-image-wrapper-100 {
  height: 100%;
  top: -100%;
}
.parallax-image {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.parallax-image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.parallax-image-50 {
  height: 200%;
  top: -50%;
}
.parallax-image-100 {
  height: 100%;
  top: 0;
}
.parallax-image.skrollable-between {
  display: block;
}
.no-skrollr .parallax-image-wrapper {
  display: none !important;
}
#skrollr-body {
  height: 100%;
  overflow: visible;
  position: relative;
}
.gap {
  background: transparent center no-repeat;
  background-size: cover;
}
.skrollr .gap {
  background: transparent !important;
}
.gap-50 {
  height: 50%;
}
.gap-100 {
  height: 100%;
}
.portfolio-page .content {
  background: #fff;
  padding: 1em;
}
.portfolio-page .navbar-default {
  font-family: 'Open Sans', sans-serif, tahoma;
  background-color: transparent;
  border: 0;
}
.portfolio-page .navbar-default .navbar-toggle {
  border-color: #fff;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.portfolio-page .navbar-default .navbar-toggle:hover,
.portfolio-page .navbar-default .navbar-toggle:focus {
  background-color: #2dc3e8;
}
.portfolio-page .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.portfolio-page .navbar-default .navbar-header .navbar-brand img {
  margin-top: -8px;
  height: 36px;
}
.portfolio-page .navbar-default .navbar-nav {
  padding-top: 0;
}
.portfolio-page .navbar-default .navbar-nav > li > a {
  color: #f5f5f5;
  font-weight: 300;
  font-size: 15px;
}
.portfolio-page .navbar-default .navbar-nav > li > a:hover,
.portfolio-page .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.portfolio-page .navbar-default .navbar-nav > li > a.signin {
  background-color: #2dc3e8;
  font-family: 'Open Sans', sans-serif, tahoma;
}
.portfolio-page .navbar-default .navbar-nav > li > a.signin:hover {
  color: #fff;
  background-color: #5bd0ed;
}
.portfolio-page .navbar-default.other-pages {
  background-color: #2dc3e8;
}
.portfolio-page .navbar-default.other-pages .navbar-nav > li > a.signin {
  background-color: #5bd0ed;
}
.portfolio-page .navbar-default.other-pages .navbar-nav > li > a.signin:hover {
  background-color: #72d7f0;
}
@media (min-width: 768px) {
  .portfolio-page .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}
.portfolio-page .block-wrapper {
  display: block;
  margin: 0 auto !important;
  padding-bottom: 85px;
}
.portfolio-page .inner-content {
  width: 90% !important;
  margin: 0 auto !important;
  max-width: 1334px;
}
.portfolio-page .slide-cover .cover-statement {
  font-style: normal;
  font-weight: 300;
  font-family: 'Kaushan Script', 'Open Sans', sans-serif, tahoma;
  font-size: 80px;
  line-height: 100px;
  margin: 0 auto;
  padding-top: 15%;
  width: auto;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.portfolio-page .slide-cover .cover-link {
  width: auto;
  text-align: center;
  margin-top: 50px;
}
.portfolio-page .slide-cover .cover-link a {
  color: #e5e5e5;
  height: 40px;
  display: inline-block;
  padding: 4px 10px 8px;
  border: 1px solid transparent;
  border: 1px solid #e5e5e5;
}
.portfolio-page .slide-cover .cover-link a:hover {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
}
.portfolio-page .slide-cover .cover-link a span {
  display: inline-block;
  font: 300 20px 'Kaushan Script', 'Open Sans', sans-serif, tahoma;
}
.portfolio-page .slide-slogan .slogan {
  text-align: center;
  padding: 100px 0 0;
}
.portfolio-page .slide-slogan .slogan .slogan-title {
  font-family: 'Open Sans', sans-serif, tahoma;
  font-weight: 300;
  font-size: 35px;
}
.portfolio-page .slide-slogan .slogan .slogan-title .title-word {
  font-family: 'Kaushan Script', 'Open Sans', sans-serif, tahoma;
  color: #2dc3e8;
  font-size: 45px;
}
.portfolio-page .slide-slogan .slogan .slogan-separator {
  width: 1px;
  height: 42px;
  background-color: #ccc;
  margin: 20px auto;
}
.portfolio-page .slide-slogan .slogan .slogan-description {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif, tahoma;
  padding: 0 25%;
}
.portfolio-page .slide-slogan .slogan .slogan-action {
  font-family: 'Open Sans', sans-serif, tahoma;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin-top: 70px;
}
.portfolio-page .slide-slogan .slogan .slogan-action a {
  color: #2dc3e8;
}
.portfolio-page .slide-slogan .slogan .slogan-action a .action-word {
  font-style: normal;
  font-family: 'Kaushan Script', 'Open Sans', sans-serif, tahoma;
  font-size: 20px;
}
.portfolio-page .slide-works .row {
  padding: 0;
  margin: 0;
}
.portfolio-page .slide-works .row [class^="col-"] {
  padding: 0;
  margin: 0;
}
.portfolio-page .slide-works .work {
  color: #fff;
  display: block;
  position: relative;
  text-align: center;
  height: 450px;
  overflow: hidden;
}
.portfolio-page .slide-works .work:hover .work-content {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.portfolio-page .slide-works .work:hover .work-content .work-text {
  display: table;
}
.portfolio-page .slide-works .work:hover .work-content .work-text .text-wrapper {
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
}
.portfolio-page .slide-works .work:hover .work-content .work-text .text-wrapper h4 {
  font-family: 'Kaushan Script', 'Open Sans', sans-serif, tahoma;
  font-size: 35px;
}
.portfolio-page .slide-works .work:hover .work-content .work-text .text-wrapper p {
  font-family: 'Open Sans', sans-serif, tahoma;
  font-weight: 400;
}
.portfolio-page .slide-works .work .work-content {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-size: cover;
  background-position: center center;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.portfolio-page .slide-works .work .work-content .work-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 27, 35, 0.4);
  display: none;
}
.portfolio-page .slide-works .works-more {
  text-align: center;
  background: #ffce55;
  margin-top: 0;
  height: 80px;
}
.portfolio-page .slide-works .works-more a {
  font-family: 'Kaushan Script', 'Open Sans', sans-serif, tahoma;
  font-size: 30px;
  text-align: center;
  color: #fff;
  padding-top: 20px;
  line-height: 75px;
}
.portfolio-page .slide-video {
  position: relative;
}
.portfolio-page .slide-video .video-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  display: none;
}
.portfolio-page .slide-video .video-wrapper .video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
}
.portfolio-page .slide-video .video-wrapper video {
  width: 100%;
}
.portfolio-page .slide-video .video-statement {
  position: absolute;
  width: 500px;
  padding: 25px;
  top: 25%;
  left: 75px;
  color: #fff;
  background-color: #2dc3e8;
}
.portfolio-page .slide-video .video-statement .statement-title {
  width: 400px;
  font: 300 30px 'Open Sans', sans-serif, tahoma;
}
.portfolio-page .slide-video .video-statement .statement-description {
  width: 350px;
  font: 300 15px 'Open Sans', sans-serif, tahoma;
  line-height: 20px;
}
.portfolio-page .slide-video .video-statement i {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  padding-left: 19px;
  padding-top: 8px;
  font-size: 45px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
.portfolio-page .slide-video .video-statement i:hover {
  cursor: pointer;
}
.portfolio-page .slide-features {
  padding: 50px 0 0;
}
.portfolio-page .slide-features .row {
  margin: 20px 0;
  padding: 100px 15%;
}
.portfolio-page .slide-features .features-text .heading {
  margin-bottom: 15px;
}
.portfolio-page .slide-features .features-text .heading h3 {
  font-family: 'Open Sans', sans-serif, tahoma;
  font-size: 25px;
  line-height: 1.4em;
  margin: .5em 0;
  font-weight: 300;
}
.portfolio-page .slide-features .features-text p {
  font-family: 'Open Sans', sans-serif, tahoma;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 .5em 0;
  line-height: 1.5em;
}
.portfolio-page .slide-features .features-image {
  text-align: center;
}
.portfolio-page .slide-features .touts-container {
  display: inline-block;
  width: 100%;
  margin-top: 75px;
}
.portfolio-page .slide-features .touts-container .toutsList {
  display: block;
  font-family: 'Open Sans', sans-serif, tahoma;
  font-size: 16px;
}
.portfolio-page .slide-features .touts-container .toutsList .row {
  padding: 0 15%;
}
.portfolio-page .slide-features .touts-container .toutsList .tout {
  padding-top: 23px;
  padding-bottom: 20px;
}
.portfolio-page .slide-features .touts-container .toutsList .tout .image-container {
  display: block;
  width: 100%;
  text-align: center;
}
.portfolio-page .slide-features .touts-container .toutsList .tout .image-container i {
  font-size: 3em;
}
.portfolio-page .slide-features .touts-container .toutsList .tout .text-container {
  padding: 20px 10px;
  float: left;
  width: 100%;
  text-align: center;
}
.portfolio-page .slide-features .touts-container .toutsList .tout h3 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif, tahoma;
  font-weight: 400;
  text-align: center;
}
.portfolio-page .slide-features .touts-container .toutsList .tout p {
  font-size: 14px;
  text-align: center;
}
.portfolio-page .slide-testimonial {
  margin: 0;
  padding: 10px 0 50px;
  background-color: #fff;
  min-height: 500px;
}
.portfolio-page .slide-testimonial .row {
  margin: 20px 0;
  padding: 0 15%;
}
.portfolio-page .slide-testimonial .testimonial-header {
  height: 150px;
  background-color: #2dc3e8;
  position: relative;
}
.portfolio-page .slide-testimonial .testimonial-header .testimonial-title {
  font-family: 'Kaushan Script', 'Open Sans', sans-serif, tahoma;
  font-size: 50px;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}
.portfolio-page .slide-testimonial .testimonial-header .testimonial-arrow {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -50px;
  -lh-property: 0;
left:-webkit-calc(50% - 50px);
left:-moz-calc(50% - 50px);
left:calc(50% - 50px);
;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}
.portfolio-page .slide-testimonial .testimonial-header .testimonial-arrow i {
  font-size: 4em;
  margin-top: 22px;
  color: #2dc3e8;
}
.portfolio-page .slide-testimonial .testimonial-item {
  font-family: 'Open Sans', sans-serif, tahoma;
  padding: 60px 10px 10px;
  text-align: center;
}
.portfolio-page .slide-testimonial .testimonial-item .avatar {
  text-align: center;
}
.portfolio-page .slide-testimonial .testimonial-item .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.portfolio-page .slide-testimonial .testimonial-item .qoute {
  padding-top: 20px;
  font-size: 14px;
}
.portfolio-page .slide-testimonial .testimonial-item .splitter {
  width: 50px;
  margin: 10px auto;
  background-color: #666;
  height: 1px;
}
.portfolio-page .slide-testimonial .testimonial-item .person .name {
  font-weight: 700;
}
.portfolio-page .slide-testimonial .testimonial-item .person .website {
  margin-top: 5px;
}
.portfolio-page .slide-testimonial .testimonial-item .person .website a {
  font-weight: 400;
  color: #2dc3e8;
}
.portfolio-page .slide-map {
  padding: 0;
  background-color: #353535;
}
.portfolio-page .slide-map .map-haeder {
  background-color: #353535;
}
.portfolio-page .slide-map .map-haeder .map-title {
  font-family: 'Kaushan Script', 'Open Sans', sans-serif, tahoma;
  font-size: 50px;
  text-align: center;
  color: #fff;
  padding-top: 60px;
}
.portfolio-page .slide-map .contact-form {
  margin: 50px 150px;
  font-family: 'Open Sans', sans-serif, tahoma;
}
.portfolio-page .slide-map .contact-form .form-control {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  margin-bottom: 20px;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-height: 40px;
}
.portfolio-page .slide-map .contact-form .form-control:focus {
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.portfolio-page .slide-map .contact-form .btn {
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  background-color: #2dc3e8;
  color: #fff;
  height: 40px;
}
.portfolio-page .slide-map .contact-form .btn:focus {
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.portfolio-page .slide-map .map-container {
  position: relative;
  background-color: #353535;
}
.portfolio-page .slide-map .map-container .map {
  height: 600px;
}
.portfolio-page .slide-map .map-container .map-overlay-top,
.portfolio-page .slide-map .map-container .map-overlay-bottom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 200px;
  z-index: 100;
  background: linear-gradient(to bottom, #353535 0, rgba(53, 53, 53, 0) 100%);
}
.portfolio-page .slide-map .map-container .map-overlay-bottom {
  top: auto;
  bottom: 0;
  background: linear-gradient(to top, #353535 0, rgba(53, 53, 53, 0) 100%);
}
.portfolio-page .slide-footer {
  background-color: #353535;
  padding: 100px;
}
.portfolio-page .slide-footer .footer-description {
  text-align: center;
  color: #999;
  font-family: 'Open Sans', sans-serif, tahoma;
  line-height: 25px;
}
.portfolio-page .slide-footer .footer-title {
  color: #fff;
  font-family: 'Kaushan Script', 'Open Sans', sans-serif, tahoma;
  font-size: 35px;
  text-align: center;
  margin: 50px auto;
}
.portfolio-page .slide-footer .footer-address,
.portfolio-page .slide-footer .footer-tel {
  text-align: center;
  color: #999;
  font-family: 'Open Sans', sans-serif, tahoma;
  line-height: 23px;
}
.portfolio-page .slide-footer .footer-tel {
  margin: 20px auto 0;
}
.portfolio-page .slide-footer .footer-mail {
  text-align: center;
  font-family: 'Open Sans', sans-serif, tahoma;
  line-height: 23px;
  color: #999;
}
.portfolio-page .slide-footer .footer-links {
  color: #999;
  text-align: center;
  margin-top: 30px;
}
.portfolio-page .slide-footer .footer-links .link {
  font-family: 'Open Sans', sans-serif, tahoma;
  color: #fff;
  font-weight: 600;
}
/*# sourceMappingURL=portfolio-page.css.map */